@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');


html{
    font-size: 18px;
}
body{
    background-color: #272727;
    color: white;
    font-family: "Martian Mono", monospace;
    margin: 0px; /* забираємо стандартні відступи в тега body */

}
body.light-theme{
    background-color: #e6e6e6;
    color: rgb(24, 24, 24);
}


header{
    display: flex;
    height: 80px;
    padding: 0px 40px;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu{
    display: flex;
    height: 80px;
    padding: 30px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 2em;
}
.menu li{
    list-style: none;
}

.menu-elements{
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;
    transition: color .5s linear, border-bottom .3s linear;

}

.menu-elements:hover{
    border-color: white;
}
.logo{
    height: 50px;
}

.banner{
    width: 100%;
    height: 90vh;
    background: url('/img/hector-martinez-EG49vTtKdvI-unsplash.jpg');
    background-size: cover;
    background-position: center center; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}

.banner h1{
    font-size: 3rem;
    text-align: center;
}

/* Стилі карточок взято з 4 уроку 2 модуля (сайт за макетом)  */

.card{
    padding: 28px;
    background: transparent;
    transition: background .2s linear;
    border-radius: 10px;
    max-width: 350px;
}

.card:hover{
    background: #DCE5E2;
    cursor: pointer;
    transition: background .2s linear;
    color: #272727;
}
.light-theme .card:hover{
    background: #ffffff;
    
}

.text-card{
    font-size: 1rem;
    font-weight: 600;
}
.description-card{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.price-card{
    font-size: 1rem;
    line-height: 1rem; /* 120% */
    color: rgb(154, 131, 255);
    display: flex;
    gap: 5px;
    align-items: center;
}

.card img{
    width: 244px;
    height: 214px;
    object-fit: contain;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 72px;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

/* Кнопка Кошик */
.cart-btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(to left,rgb(173, 154, 255),rgb(149, 110, 255));
  border-radius: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 0.9em;
  border: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
    text-decoration: none;
}

/* Кошик */
.cart{
    min-height: 200px;
    margin: 60px auto;
}
.cart-items-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20;
    margin-bottom: 40px;
}

.cart-item{
    border: 1px solid rgb(83, 83, 83);
    padding: 20px 30px;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#orderBtn{
    margin: 40px 0;
}